# OrangeFox Config - WP19 Pro (MT6789)

FOX_BUILD_TYPE=Unofficial
FOX_DEVICE=WP19_Pro
FOX_VENDOR=OUKITEL
FOX_API=33

FOX_USE_TWRP_RECOVERY_IMAGE_BUILDER=1
FOX_RECOVERY_SYSTEM_PARTITION="/system"
FOX_RECOVERY_VENDOR_PARTITION="/vendor"

FOX_VIRTUAL_AB_DEVICE=1
FOX_DYNAMIC_PARTITIONS=1

FOX_ENABLE_FBE_FULL_REPACK=1
FOX_INCLUDE_LOGCAT=1

FOX_ENABLE_APP_MANAGER=1
FOX_USE_BASH_SHELL=1

FOX_VARIANT=OFFICIAL
