FOX_DEVICE="WP19_Pro"
FOX_VENDOR="OUKITEL"

# BUILD TYPE
FOX_BUILD_TYPE="Unofficial"

# PLATFORM
FOX_API=33
FOX_VARIANT=OFFICIAL

# IMPORTANT MTK FIXES
FOX_VENDOR_BOOT_RECOVERY=1
FOX_ENABLE_VENDOR_BOOT=1
FOX_USE_DYNAMIC_PARTITIONS=1

# FEATURES
FOX_USE_BASH_SHELL=1
FOX_ENABLE_APP_MANAGER=1
FOX_INCLUDE_LOGCAT=1

# ENCRYPTION SUPPORT
FOX_ENABLE_FBE_FULL_REPACK=1

# DEVICE FLAGS
FOX_RECOVERY_SYSTEM_PARTITION="/system"
FOX_RECOVERY_VENDOR_PARTITION="/vendor"
